{% extends 'base_template.html' %}

{% block content %}
    <div id="newsletter" class="graphic">
        {% if COPY.newsletter.newsletter_title %}<h1>{{ COPY.newsletter.newsletter_title|smarty }}</h1>{% endif %}
        <p>{{ COPY.newsletter.newsletter_promo }}</p>
            <div class="newsletter-wrapper">
                <form class="newsletter-signup" id="newsletter-signup">
                    <input id="newsletter-email" type="text" placeholder="{{ COPY.newsletter.input_placeholder }}" />
                    <button class="btn-subscribe" id="subscribe-button">{{ COPY.newsletter.subscribe_button_text }}</button>
                </form>
            </div>
            <p class="footnote">{{ COPY.newsletter.footnote }}</p>
    </div>

    <script type="text/javascript">
        var COPY = {{ COPY.json() }};
    </script>

{% endblock content %}

{% block js %}
    {{ JS.push('js/lib/jquery-1.12.3.min.js') }}
    {{ super() }}
{% endblock js %}
