{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div id="graphic">
        <table>
            <thead>
                <tr>
                    <th class="name">{{ COPY.labels.hdr_name }}</th>

                    {% for row in COPY.issues %}
                    <th class="issue">{{ row.header|smarty }}</th>
                    {% endfor %}
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr class="{{ row.name|classify }}">

                <td class="name">{{ row.name|smarty }} ({{ row.party }})</td>

                {% for issue in COPY.issues %}
                    {% set i = issue.name %}
                    {% set position = row[i] %}
                    {% set link = row[i + '_link'] %}
                    {% set footnote = row[i + '_footnote'] %}

                    <td data-title="{{ issue.header }}" class="issue {{ i|classify }}">{% if row[i + '_link'] %}<a href="{{ link }}">{% endif %}<span class="{% if position == 'Yes' %}yes{% elif position == 'No' %}no{% else %}other{% endif %}">{{ position|smarty }}</span>{% if link %}</a>{% endif %}{% if footnote %}<sup>{{ footnote }}</sup>{% endif %}</td>
                {% endfor %}

            </tr>
            {% endfor %}

        </table>
    </div>

    {% if COPY.footnotes[0] %}<sup>
    <div class="footnotes">
        <h3>Notes</h3>
        <p>
        {% for row in COPY.footnotes %}
            {{ row.id }}. {{ row.description|smarty }}</br>
        {% endfor %}
        </p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}

{% block js %}

    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
