{% extends 'base_template.html' %}

{% block content %}

    <header id="meta">{% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}</header>

    <figure id="graphic">
        <table role="table" aria-label="{{COPY.labels.headline}}" aria-describedby="meta">
            <thead>
                <tr aria-role="row">
                    <th aria-role="columnheader" class="name">{{ COPY.labels.hdr_name }}</th>

                    {% for row in COPY.issues %}
                    <th aria-role="columnheader" class="issue">{{ row.header|smarty }}</th>
                    {% endfor %}
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr aria-role="row" class="{{ row.name|classify }}">

                <td aria-role="cell" class="name">{{ row.name|smarty }} ({{ row.party }})</td>

                {% for issue in COPY.issues %}
                    {% set i = issue.name %}
                    {% set position = row[i] %}
                    {% set link = row[i + '_link'] %}
                    {% set footnote = row[i + '_footnote'] %}

                    <td aria-role="cell" data-title="{{ issue.header }}" class="issue {{ i|classify }}">{% if row[i + '_link'] %}<a href="{{ link }}">{% endif %}<span class="{% if position == 'Yes' %}yes{% elif position == 'No' %}no{% else %}other{% endif %}">{{ position|smarty }}</span>{% if link %}</a>{% endif %}{% if footnote %}<sup>{{ footnote }}</sup>{% endif %}</td>
                {% endfor %}

            </tr>
            {% endfor %}

        </table>
    </figure>

    {% if COPY.footnotes[0] %}<sup>
    <div class="footnotes">
        <h4>Notes</h4>
        <p>
        {% for row in COPY.footnotes %}
            {{ row.id }}. {{ row.description|smarty }}</br>
        {% endfor %}
        </p>
    </div>
    {% endif %}

    <footer class="footer" role="contentinfo">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </footer>

{% endblock content %}

{% block js %}

    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
