{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}

    <div id="locator-map" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

    <script type="text/javascript">
        var COUNTRIES = {{ COPY.countries.json() }};
        var CITIES = {{ COPY.cities.json() }};
    </script>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/d3.min.js') }}
    {{ JS.push('js/lib/d3.geo.projection.v0.min.js') }}
    {{ JS.push('js/lib/topojson.v1.min.js') }}
    {{ JS.push('js/lib/modernizr.svg.min.js') }}
    {{ JS.push('js/base.js') }}
    {{ JS.push('js/geomath.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
