{% extends 'base_template.html' %}

{% block content %}

    <header id="meta">{% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}
  	</header>

    <figure class="graphic">
        <table id="state-table" role="table" aria-label="{{COPY.labels.headline}}" aria-describedby="meta">
            <thead>
                <tr>
                    <th aria-role="columnheader">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_state }}</div>
                    </th>
                    <th aria-role="columnheader">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_usps }}</div>
                    </th>
                    <th aria-role="columnheader">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_ap }}</div>
                    </th>
                    <th class="amt" aria-role="columnheader">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_value }}</div>
                    </th>
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr class="state-{{ row.usps|classify }}" aria-role="row">
                <td aria-role="cell" data-title="{{ COPY.labels.hdr_state }}">{{ row.name }}</td>
                <td aria-role="cell" data-title="{{ COPY.labels.hdr_usps }}">{{ row.usps }}</td>
                <td aria-role="cell" data-title="{{ COPY.labels.hdr_ap }}">{{ row.usps|ap_state }}</td>
                <td aria-role="cell" data-title="{{ COPY.labels.hdr_value }}" class="amt">{{ row.value|comma }}</td>
            </tr>
            {% endfor %}

        </table>
    </figure>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <footer class="footer" role="contentinfo">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </footer>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/tablesort.js') }}
    {{ JS.push('js/lib/tablesort.numeric.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
