{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed) }}</h2>{% endif %}

    <div id="graphic">
        <table>
            <thead>
                <tr>
                    <th>{{ COPY.labels.hdr_state }}</th>
                    <th>{{ COPY.labels.hdr_usps }}</th>
                    <th>{{ COPY.labels.hdr_ap }}</th>
                    <th class="amt">{{ COPY.labels.hdr_value }}</th>
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr class="state-{{ row.usps|classify }}">
                <td data-title="{{ COPY.labels.hdr_state }}">{{ row.name }}</td>
                <td data-title="{{ COPY.labels.hdr_usps }}">{{ row.usps }}</td>
                <td data-title="{{ COPY.labels.hdr_ap }}">{{ row.usps|ap_state }}</td>
                <td data-title="{{ COPY.labels.hdr_value }}" class="amt">{{ row.value|comma }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit }}</p>{% endif %}
    </div>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
