<!DOCTYPE html>
<html lang="en">

<head>
    <title>Graphic : NPR</title>

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />

    <!-- Fonts -->
    <script src="http://apps.npr.org/dailygraphics/graphics/fonts/js/lib/webfont.js"></script>
    <script>
        WebFont.load({
             custom: {
                 families: [
                    'Gotham SSm:n4,n7',
                    'Knockout 31 4r:n4'
                 ],
                 urls: [
                    'http://s.npr.org/templates/css/fonts/GothamSSm.css',
                    'http://s.npr.org/templates/css/fonts/Knockout.css'
                 ]
             },
             timeout: 10000
         });
    </script>

    {{ CSS.push('css/base.less') }}
    {{ CSS.push('css/graphic.less') }}
    {{ CSS.render('css/graphic-header.css') }}
</head>
<body>
    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed) }}</h2>{% endif %}

    <div id="graphic">
        <table>
            <thead>
                <tr>
                    <th>{{ COPY.labels.hdr_state }}</th>
                    <th class="amt">{{ COPY.labels.hdr_something }}</th>
                    <th class="amt">{{ COPY.labels.hdr_another_thing }}</th>
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr class="{{ row.state|lower|replace(' ', '-') }}">
                <td data-title="{{ COPY.labels.hdr_state }}">{{ row.state }}</td>
                <td data-title="{{ COPY.labels.hdr_something }}" class="amt">{{ row.something }}</td>
                <td data-title="{{ COPY.labels.hdr_another_thing }}" class="amt">{{ row.another_thing }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit }}</p>{% endif %}
    </div>

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/d3.min.js') }}
    {{ JS.push('js/lib/modernizr.svg.min.js') }}
    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/base.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}
</body>
</html>
