{% extends 'base_template.html' %}

{% block content %}

    <div id="graphic" class="photo"></div>

    {% if COPY.labels.caption or COPY.labels.credit %}
    <div class="caption">
        {% if COPY.labels.caption %}<p>{{ render(COPY.labels.caption)|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p class="credit">{{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>
    {% endif %}

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/d3.min.js') }}
    {{ JS.push('js/lib/canvid.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
