{% extends 'base_template.html' %}

{% block content %}

    <figure id="graphic" class="photo" role="img" aria-describedby="caption"></figure>

    {% if COPY.labels.caption or COPY.labels.credit %}
    <footer class="caption" id="caption" role="contentinfo">
        {% if COPY.labels.caption %}<p>{{ render(COPY.labels.caption)|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p class="credit">{{ COPY.labels.credit|smarty }}</p>{% endif %}
    </footer>
    {% endif %}

    <script type="text/javascript">
        var PARAMS = {{ COPY.params.json() }};
    </script>
{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/canvid.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
