@import "base";

.bars line {
    fill: none;
    stroke-width: 3px;
    stroke: #F5D1CA;
}

.dots circle {
    stroke-width: 1px;
    stroke: #fff;
    fill: #D8472B;
}

.value text {
    font-size: 11px;
    fill: #999;
}

.shadow text {
    font-size: 11px;
    fill: #fff;
    stroke: #fff;
    stroke-width: 5px;
}
