<!DOCTYPE html>
<html>
<head>
    <title>Graphic Embed : NPR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <style>
        textarea {
            display: block;
        }
    </style>
</head>
<body>
    <h3>Preview</h3>

    <div id='preview'>
    </div>

    <h3>Production embed</h3>

<!-- textarea contents -->
    <textarea readonly="readonly" rows="10" cols="50">
<div id="responsive-embed-{{ slug }}">
</div>
<script src="http://{{ PRODUCTION_S3_BUCKET['bucket_name'] }}/{{ PROJECT_SLUG }}/graphics/{{ slug }}/js/lib/parent.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    $('#responsive-embed-{{ slug }}').responsiveIframe({
        src: 'http://{{ PRODUCTION_S3_BUCKET['bucket_name'] }}/{{ PROJECT_SLUG }}/graphics/{{ slug }}/child.html'
    });
});
</script>
    </textarea>
<!-- end textarea contents -->

    <h3>Localhost embed</h3>

<!-- textarea contents -->
    <textarea readonly="readonly" rows="10" cols="50">
<div id="responsive-embed-{{ slug }}"></div>
<script type="text/javascript">
    // Require.js is on the page (new Seamus)
    if (typeof requirejs !== 'undefined') {
        // Create a local require.js namespace
        var require_{{ var_name }} = requirejs.config({
            context: '{{ slug }}',
            paths: {
                'pym': 'http://apps.npr.org/dailygraphics/graphics/{{ slug }}/js/lib/parent',
                'jquery': 'http://apps.npr.org/dailygraphics/graphics/{{ slug }}/js/lib/jquery'
            }
        });

        // Load jQuery into locale namespace
        require_{{ var_name }}(['require', 'jquery'], function (require, $) {
            // Then load pym into locale namespace
    		require_{{ var_name }}(['pym'], function(pym) {
                var messageHandler = null;
                var resizeHandler = null;

                // Wait for page to load
    	        $(function() {
                    // Cache window event binding method
                    window.realAddEventListener = window.addEventListener;

                    // Monkey patch window event binding method
                    window.addEventListener = function(type, listener, capture) {
                        // Fire default behavior
                        this.realAddEventListener(type, listener, capture);

                        // Catch events that pym binds anonymously
                        if (type == 'resize') {
                            resizeHandler = listener;
                        } else if (type == 'message') {
                            messageHandler = listener;
                        }
                    };

                    // Initalize pym
    	            $('#responsive-embed-{{ slug }}').responsiveIframe({
    	                src: 'http://apps.npr.org/dailygraphics/graphics/{{ slug }}/child.html'
    	            });

                    // Reattach original window event binding method
                    window.addEventListener = window.realAddEventListener;
    	        });

                // Unbind events when the page changes
    	        document.addEventListener('npr:pageUnload', function (e) {
                    // Unbind *this* event once its run once
    	            e.target.removeEventListener(e.type, arguments.callee);

                    // Unbind pym's anonymous events
                    window.removeEventListener('message', messageHandler);
    				window.removeEventListener('resize', resizeHandler);

                    // Explicitly libraries from local namespace
    	            require_{{ var_name }}.undef('pym');
    				require_{{ var_name }}.undef('jquery');
    	            require_{{ var_name }} = null;
    	        });
    		});
        });
    // Require.js is not on the page, but jQuery is (old Seamus)
    } else if (typeof $ !== 'undefined' && typeof $.getScript === 'function') {
        // Load pym
        $.getScript('http://apps.npr.org/dailygraphics/graphics/{{ slug }}/js/lib/parent.js').done(function () {
            // Wait for page to load
            $(function() {
                // Initialize pym
                $('#responsive-embed-{{ slug }}').responsiveIframe({
                    src: 'http://apps.npr.org/dailygraphics/graphics/{{ slug }}/child.html'
                });
            });
        });
    // Neither require.js nor jQuery are on the page
    } else {
        console.error('Could not load {{ slug }}! Neither require.js nor jQuery are on the page.');
    }
</script>
    </textarea>
<!-- end textarea contents -->

    <script src="js/lib/jquery.js" type="text/javascript"></script>
    <script src="js/lib/parent.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#preview').responsiveIframe({
            src: 'child.html'
        });
    </script>
</body>
</html>
