@import "base";

.label-top {
    font-style: italic;
    fill: #999;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
}

.bin {
    &.bin-0 rect { fill: #e68c31; }
    &.bin-1 rect { fill: #eba934; }
    &.bin-2 rect { fill: #efc637; }
    &.bin-3 rect { fill: #c6b550; }
    &.bin-4 rect { fill: #99a363; }
    &.bin-5 rect { fill: #6a9171; }
    &.bin-6 rect { fill: #17807e; }
}  

.value text {
    fill: #fff;
    font-size: 12px;
    font-family: 'Knockout 31 4r',Helvetica,Arial,sans-serif;
    text-anchor: middle;
    -webkit-font-smoothing: antialiased;
}

line.axis-0 {
    stroke: #999;
}

@media screen and (max-width: 480px) {
    .value text { font-size: 10px; }
}
