{% extends 'base_template.html' %}

{% block content %}
		<header id="meta">
	    <h1>Headline</h1>
	    <h2>Subhed</h2>
  	</header>

    <figure id="graphic" role="img" aria-describedby="meta"><img src="fallback.png" alt="[Chart]" class="fallback" /></figure>

    <!-- <div class="footnotes">
        <h4>Notes</h4>
        <p>Footnote</p>
    </div> -->

    <footer class="footer" role="contentinfo">
        <p>Source: TK TK TK</p>
        <p>Credit: TK TK TK</p>
    </footer>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/jquery-1.11.3.min.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
