
<style type="text/css">


.typeahead .tt-input {
}

.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
    margin-bottom: 0;

}
.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}
/*.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 3px;
    line-height: 1.5;
}
.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 10px;
    border-radius: 6px;
    line-height: 1.33;
}*/

.tt-dropdown-menu {
    font-size: 13px;
    min-width: 100px;
    margin-top: 2px;
    padding: 7px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    cursor: pointer;
}
.tt-suggestion {
    display: block;
    padding: 3px 3px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.tt-suggestion.tt-is-under-cursor a {
    color: dodgerblue;
}
.tt-suggestion p {
    margin: 0;
}

.tt-suggestion.tt-cursor p {
  color: #28556F;
  text-decoration: underline;
  outline: 0;
  background-color: #D3EAF7;
  opacity: .7;
}

</style>
