.red1       { color: #6C2315; }
.red2       { color: #A23520; }
.red3       { color: #D8472B; }
.red4       { color: #E27560; }
.red5       { color: #ECA395; }
.red6       { color: #F5D1CA; }

.orange1    { color: #714616; }
.orange2    { color: #AA6A21; }
.orange3    { color: #E38D2C; }
.orange4    { color: #EAAA61; }
.orange5    { color: #F1C696; }
.orange6    { color: #F8E2CA; }

.yellow1    { color: #77631B; }
.yellow2    { color: #B39429; }
.yellow3    { color: #EFC637; }
.yellow4    { color: #F3D469; }
.yellow5    { color: #F7E39B; }
.yellow6    { color: #FBF1CD; }

.teal1      { color: #0B403F; }
.teal2      { color: #11605E; }
.teal3      { color: #17807E; }
.teal4      { color: #51A09E; }
.teal5      { color: #8BC0BF; }
.teal6      { color: #C5DFDF; }

.blue1      { color: #28556F; }
.blue2      { color: #3D7FA6; }
.blue3      { color: #51AADE; }
.blue4      { color: #7DBFE6; }
.blue5      { color: #A8D5EF; }
.blue6      { color: #D3EAF7; }