{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}

    <div id="quiz">
        <div class="question">
            <div class="q">
            </div>
            <div class="a">
                <ul>
                </ul>
            </div>
        </div>

        <p id="results"></p>
        <div class="btn_div"><button class="btn next">Next</button></div>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <p><strong>Notes:</strong> {{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

    <script type="text/javascript">
        var LBL_RIGHT  = "{{ COPY.labels.lbl_right }}";
        var LBL_WRONG  = "{{ COPY.labels.lbl_wrong }}";
        var FINAL_LOW  = "{{ COPY.labels.final_low }}";
        var FINAL_MID  = "{{ COPY.labels.final_mid }}";
        var FINAL_HIGH = "{{ COPY.labels.final_high }}";
        var FINAL_LOW_UPPER  = "{{ COPY.labels.final_low_upper }}";
        var FINAL_MID_UPPER  = "{{ COPY.labels.final_mid_upper }}";
        var FINAL_HIGH_UPPER = "{{ COPY.labels.final_high_upper }}";
        var QUIZ = {{ COPY.quiz.json() }};
    </script>
{% endblock content %}

{% block js %}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}
{% endblock js %}
